
.our-team .picture img {
    border-radius: 50%;
    transform: scale(.9);
    position: static;
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
}

.c1 {
    margin: 3% !important;
    position: static;
}

.check {
    position: fixed;
    /* right: 3em;
    bottom: 10em; */
    color: rgb(32, 158, 42);
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 100%;
    transform: translateX(620%) translateY(-250%);
    background-color: rgb(255, 255, 255);
}

.edit {
    padding-inline-start: 58rem;
    position: unset;
}

.mat-card {
    background-color: rgb(252, 252, 252);
    position: static;
    align-content: center !important;
}