<!-- <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="100" class="pad-g">
        <h1 class="tit">Administración de Proyectos</h1>
        <mat-toolbar>
        <div class="example-spacer" ></div>

            <button mat-raised-button color="primary"  routerLink="../agregarproyectos" >Agregar Proyecto</button>
        
            </mat-toolbar>
        <div class="mat-elevation-z8 pad">
            <table mat-table [dataSource]="proyec">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="titutable"> ID. </th>
                    <td mat-cell *matCellDef="let element" class="contable"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef class="titutable"> Nombre </th>
                    <td mat-cell *matCellDef="let element" class="contable"> {{element.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="publicacion">
                    <th mat-header-cell *matHeaderCellDef class="titutable"> Fecha Publicacion </th>
                    <td mat-cell *matCellDef="let element" class="contable"> {{element.publicacion | date:'dd-MM-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="recompensa">
                    <th mat-header-cell *matHeaderCellDef class="titutable"> Recompensa</th>
                    <td mat-cell *matCellDef="let element" class="contable"> {{element.recompensa | currency}}</td>
                </ng-container>

                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef class="titutable"> Opciones</th>
                    <td mat-cell *matCellDef="let element" class="contable">
                        <button mat-icon-button style="color: 	#5cb85c;" matTooltip="Aprobar">
                            <mat-icon>task_alt</mat-icon>
                          </button>
                        <button mat-icon-button style="color:#dd3c14;" matTooltip="Rechazar">
                            <mat-icon>Cancel</mat-icon>
                          </button>
                        <button mat-icon-button color="warn" matTooltip="Eliminar">
                            <mat-icon>delete_outline</mat-icon>
                          </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="ir">
                    <th mat-header-cell *matHeaderCellDef class="titutable"></th>
                    <td mat-cell *matCellDef="let element" class="contable"> <button mat-icon-button (click)="verProyecto(element.id)" matTooltip="ver Detalles">
                        <mat-icon>open_in_new</mat-icon>
                      </button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div> -->


<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-toolbar (SideNavToggle)="sidenav.toggle()"></app-toolbar>
        <app-navtabs></app-navtabs>

        <main>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="100" class="pad-g">
                    <h1 class="tit">Administración de Proyectos</h1>
                    <div class="mat-elevation-z8 pad">
                        <table mat-table [dataSource]="proyec">

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef class="titutable"> ID. </th>
                                <td mat-cell *matCellDef="let element" class="contable"> {{element.id}} </td>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef class="titutable"> Nombre </th>
                                <td mat-cell *matCellDef="let element" class="contable"> {{element.nombre}} </td>
                            </ng-container>

                            <ng-container matColumnDef="publicacion">
                                <th mat-header-cell *matHeaderCellDef class="titutable"> Fecha Publicacion </th>
                                <td mat-cell *matCellDef="let element" class="contable"> {{element.publicacion | date:'dd-MM-yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="recompensa">
                                <th mat-header-cell *matHeaderCellDef class="titutable"> Recompensa</th>
                                <td mat-cell *matCellDef="let element" class="contable"> {{element.recompensa | currency}}</td>
                            </ng-container>

                            <ng-container matColumnDef="opciones">
                                <th mat-header-cell *matHeaderCellDef class="titutable"> Opciones</th>
                                <td mat-cell *matCellDef="let element" class="contable">
                                    <button mat-icon-button style="color: 	#5cb85c;" matTooltip="Aprobar">
                                        <mat-icon>task_alt</mat-icon>
                                      </button>
                                    <button mat-icon-button style="color:#dd3c14;" matTooltip="Rechazar">
                                        <mat-icon>cancel</mat-icon>
                                      </button>
                                    <button mat-icon-button color="warn" matTooltip="Eliminar">
                                        <mat-icon>delete_outline</mat-icon>
                                      </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="ir">
                                <th mat-header-cell *matHeaderCellDef class="titutable"></th>
                                <td mat-cell *matCellDef="let element" class="contable"> <button mat-icon-button (click)="verProyecto(element.id)" matTooltip="ver Detalles">
                                    <mat-icon>open_in_new</mat-icon>
                                  </button></td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>

        </main>

    </mat-sidenav-content>
</mat-sidenav-container>