table {
    width: 100%;
}

.example-card {
    max-width: 1000px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.pad {
    padding-top: 25px;
}

.pad-g {
    padding: 1rem;
}

.boton {
    height: 35px;
    font-size: 15px;
    margin: 3px;
}

.titutable {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(27, 27, 27);
}

.contable {
    font-size: 14px;
    text-align: center;
}

.tit {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 300px;
    background-color: #f4f4f4;
}